<div class="page-title aboutus-sec pt-4 pb-4 dark_bg" style="margin-top: 111px;">
    <div class="container">
       <h1><span>C</span>AREERS</h1>
    </div>
</div>

<div *ngFor="let conten of careers" [innerHTML]="conten.body"></div>

<div class="padding-top-bottom-50 page_footer dark_bg">
    <div class="container text-center">
        <h5>Are you a marketeer looking to transform your career?</h5>
        <h5><a href="mailto:hello@digitigi.com">Reach out</a> to us for unmatched career avenues</h5>
        <a href="mailto:hr@digitigi.com" class="btn btn-outline mt-3">Contact Us</a>
    </div>
</div>