<div class="dark_bg1 d-flex justify-content-center align-items-center pt-5 mt-5" style="height: 90vh;">
    <div class="container1 fourzerofour">
        <div class="topfour">
            <div class="d-flex justify-content-center" style="position: relative;">
                <img src="assets/images/oops.png" class="img-fluid" width="212" height="238" alt="404">
                <h1>404</h1>
            </div>
            <h2>Oops... Page Not Found!</h2>
            <div class="text-center mt-3">
                <a class="btn btn-outline text-uppercase" routerLink="/">Back to home</a>
            </div>
        </div>
        <p>© 2017 Digitigi Technologies. All Rights Reserved | Design & Developed By <a routerLink="/">Digitigi Technologies</a></p>
    </div>
</div>