<div class="page-title aboutus-sec pt-4 pb-4 dark_bg" style="margin-top: 111px;">
    <div class="container">
       <h1><span>Open</span> Positions</h1>
    </div>
</div>
<div class="container padding-top-bottom-50">
    <div class="row job_description paragraph">
        <div class="col-sm-12 mb-4" *ngFor="let conten of open_positions_list">
            <div class="shadow_new p-4">
                <div class="row">
                    <div class="top_box col-sm-2">
                        <img alt="Sales Head" src="{{conten.field_select_icon}}" width="119" height="82" class="img-fluid">
                    </div>
                    <div class="col-sm-10">
                        <h2 class="mb-3" [innerHTML]="conten.title"></h2>
                        <div [innerHTML]="conten.body"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="padding-top-bottom-50 page_footer dark_bg">
    <div class="container text-center">
        <h5>Are you a marketeer looking to transform your career?<br />
        <a href="mailto:hello@digitigi.com">Reach out</a> to us for unmatched career avenues</h5>
        <a href="mailto:hr@digitigi.com" class="btn btn-outline mt-3">Contact Us</a>
    </div>
</div>